<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="goBackHome()" href="javascript:true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li>
      <button *ngIf="isLogged"
              class="btn btn-primary my-2 my-sm-0"
              type="button"
              [routerLink]="['/logout']"
      (click)="logout()">Logout</button>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/loginAAI']">Login AAI</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" (click)="logoutAAI()" href="#">Logout AAI</a>
      </li>-->

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" [value]="searchValue" aria-label="Search" #searchInput>
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="submitSearch(searchInput.value)">Search</button>
    </form>
  </div>
</nav>
